<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
   <div>
    <div>
        <h1>Welcome!</h1><br>
        <h3>You are currently connected to the Elastic Search Cluster: {{ cluster_name }} </h3>
    </div>
    <div>
        <h4>This search engine will allow you to query ski resorts/mountains based on:
            <br>-the current and projected snowfall
            <br>-the state
            <br>-the current temperature

        </h4>
    </div>
    <a href="{{ url_for('searchpage') }}">Go to Mountain Search</a>
</div>
{% endblock %}
