{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div>
    <h3>
        Welcome To the Search page. Please enter free text you would like to search, the state you want the data from, and/or the snowfall range you want.
    </h3>
    <div>{{results}}</div>
     <form method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                <label for="textquery">Search Mountain Data</label>
                <input type="text" name="ski_query" id="textquery"
                   placeholder="Query The Mountains"
                   value="{{ request.form['ski_query'] }}"></input>
                </div>
            </div>
        </div>
       <div class="form-group">
           <div class="row">
               <div class="col-md-6">
               <label for="state_select">Select State</label>
                <select name="selected_state" class="Input" id="state_select">
                    {% for state in states %}
                      <option value="{{state}}" >{{state}}</option>
                    {% endfor %}
                </select>
           </div>
           </div>


       </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                <label  for="input_slider_min"> Minimum snowfall range</label>
                <input id="input_slider_min" type="range" value="0" min="0" max="" name="snowfall_slider_min" oninput="updateSnowValue_min(value)"/>
            </div>
             <div class="col-md-6">
                <label  for="input_slider_max"> Maximum snowfall range</label>
                <input id="input_slider_max" type="range" value="10" min="0" max="100" name="snowfall_slider_max" oninput="updateSnowValue_max(value)"/>
             </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Chosen Snowfall in upcoming 24 hours in mm between:<span id="slider_amount_min"></span> - <span id="slider_amount_max"></span></p>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
   </form>
</div>

<script>

function updateSnowValue_min(amount) {
     document.querySelector('#slider_amount_min').innerHTML = amount;
     document.getElementById('input_slider_max').min = amount;
}

function updateSnowValue_max(amount) {
    document.querySelector('#slider_amount_max').innerHTML = amount;
    document.getElementById('input_slider_min').max = amount;
}

function init(){
    updateSnowValue_min(0);
    updateSnowValue_max(10)
}

init();

</script>
{% endblock %}
